body{
    background: #gg0dd0;
    margin left: :right;
    text color: #ffff;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.img_padrao{
   width: 300px; 
}
